/public/assets/categories/1/medium/273943931.jpg
/public/assets/categories/1/original/273943931.jpg
/public/assets/categories/1/small/273943931.jpg
/public/assets/categories/1/thumb/273943931.jpg
/public/assets/categories/2/medium/268503911.jpg
/public/assets/categories/2/original/268503911.jpg
/public/assets/categories/2/small/268503911.jpg
/public/assets/categories/2/thumb/268503911.jpg
/public/assets/categories/3/medium/274324935.jpg
/public/assets/categories/3/original/274324935.jpg
/public/assets/categories/3/small/274324935.jpg
/public/assets/categories/3/thumb/274324935.jpg
/public/assets/categories/4/medium/268503033.jpg
/public/assets/categories/4/original/268503033.jpg
/public/assets/categories/4/small/268503033.jpg
/public/assets/categories/4/thumb/268503033.jpg
/public/assets/categories/5/medium/250665683.jpg
/public/assets/categories/5/original/250665683.jpg
/public/assets/categories/5/small/250665683.jpg
/public/assets/categories/5/thumb/250665683.jpg
/public/assets/categories/6/medium/268503154.jpg
/public/assets/categories/6/original/268503154.jpg
/public/assets/categories/6/small/268503154.jpg
/public/assets/categories/6/thumb/268503154.jpg
/public/assets/products/1/medium/273908931.jpg
/public/assets/products/1/original/273908931.jpg
/public/assets/products/1/small/273908931.jpg
/public/assets/products/1/thumb/273908931.jpg
/public/favicon.ico
# See https://help.github.com/articles/ignoring-files for more about ignoring files.
#
# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile '~/.gitignore_global'

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
